<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|DM+Serif+Text|Neuton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      {{fontawesome-css}}
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav id="navigation-index" class="navbar navbar-expand-lg navbar-custom bg-custom py-0 fixed-top">
      <a href="/" class="navbar-brand">{{fontawesome-icon icon="exchange-alt"}} tinslist</a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">{{fontawesome-icon icon="bars"}}</span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link ml-2 my-2" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-2 my-2" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-2 my-2" href="/listings">Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-2 my-2" href="/listings/add-new">Create Listing</a>
          </li>
        </ul>
        <div class="form-inline">
          <ul class="navbar-nav mr-auto">
            {{#if currentUser}}
            <li class="nav-item">
              <form action="/logout" method="get">
                <button type="submit" class="nav-link ml-3 my-2 btn-custom">Log out {{fontawesome-icon icon="sign-out-alt"}}</button>
              </form>
            </li>

            {{else}}
            <li class="nav-item">
              <a class="nav-link ml-3 my-2 btn-custom" href="/login">Log in {{fontawesome-icon icon="user"}}  </a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-3 my-2 btn-custom" href="/signup">Sign up {{fontawesome-icon icon="user-plus"}}  </a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    
    </nav>




      {{#if msg}}
      {{msg}}
      {{/if}}

    <div id="landing-page-container">
      {{!-- <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p> --}}
      
      <div class="header">
        <h2>Life's too short to be hoarding.</h2>
        {{!-- <h2>Single is a terrible thingto waste.</h2> --}}
        {{!-- <h2>You may think somthing is too great to let go, but sometimes greater things can only happen after you let go.</h2> --}}
        {{!-- <div class="button"> --}}
          <div class="button">
            <a class="btn btn-light " href="/signup">{{fontawesome-icon icon="envelope"}} Sign up with Email!</a>
          </div>
          <div >
            <a class="btn btn-light"href="/auth/google"><img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png" alt="google-icon" height="20px" width="20px"> Continue With Google</a> 
            {{!-- <a class="btn btn-light"href="/auth/google"><img src="" alt="google-icon" height="20px" width="20px"> Continue With Google</a>  --}}
          </div>
          
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src='/javascripts/script.js'></script>


    <script>
      $(function () {
        $(document).scroll(function(){
          var $nav = $("#navigation");
          $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        })
      })
    </script>

  </body>
</html>


