<div class="profile-container container">
  <h1>Welcome to your profile page</h1>
  <button class="btn py-4"><a href="/user/edit/{{user._id}}">Edit {{user.username}}'s Profile</a></button>

                            
<div class="user-profile-container container">
  <div class="row">
    <div class="user-listings col">
      <h5>{{user.username}}'s Active Listings:</h5>
        {{#each listings}}
          {{#if this.owned}}
            <h6><a href="/listing-views/details/{{this._id}}">{{this.title}}</a></h6>
            
          {{/if}}
        {{/each}}
    </div>


  </div>
</div>
</div>











<h3>you can only see this if you're logged in</h3>