<h2>Edit Listing {{listing.title}}</h2>


<form action="/listings/update/{{listing._id}}" method="POST" enctype="multipart/form-data">
{{!-- <form action="/listings/update/{{listing._id}}" method="POST" > --}}
  <p>Title Of Listing:</p>
  <input type="text" name="title" value="{{listing.title}}">

  <label>Image:</label>
  <input type="file" name="thePic" value="{{listing.image}}">


  <p>Description of listing</p>
  <textarea name="description" cols="40" rows="20" maxlength="500" value="{{listing.description}}"></textarea>

  <p>Price Of Listing</p>
  <input type="text" name="price" value="{{listing.price}}">


  <button>Save Changes</button>

</form> 