<div class="listing-card container">

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{theListing.title}}</h3> 
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center image">
                <img src="{{theListing.image}}" alt="image of {{theListing.title}}">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                {{!-- Add link to user profile:Has old listing ratings and picture of user --}}
                <p class="description">{{theListing.description}} <a href="#">by: {{theListing.author.username}}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p><strong><p>{{theListing.price}}</p></strong></p>
                {{!-- How we alow only authors of post to delete their post --}}
                
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                {{#if theListing.owned}}
                    <button class="btn btn-outline-primary"><a href="/listings/edit/{{theListing._id}}">Edit {{theListing.name}}</a></button>
                    {{!-- <form action="/listings/delete/{{this._id}}" method="POST"><button class="btn">Delete</button></form> --}}
                    <form action="/listings/delete/{{theListing._id}}" method="POST"><button class="btn btn-outline-danger">Delete This Listing</button></form>

                {{else}}
                    {{#if currentUser}}
                    <p class="description">Contact via email: {{theListing.author.email}}</p>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>    




</div>